body {
    padding-top: 70px; /* Adjust the padding top to accommodate the fixed Navbar's height */
  }

.bg{
    margin-top: 200px;

}
.img-resize {
    margin-top: 200px;
    width: 50%; /* Set the image width to 50% */
    display: block; /* Ensure the image behaves as a block element */
    margin: 0 auto; /* Center the image horizontally */
  }

.text-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}

.text{
    text-align: center;
}
 
.img-resize {
      width: 50%;
      height: auto;
    }

.bottom-buttons {
 background-color: #72D9FF;
}

.container{
    margin-top: 50px;
    
}

.icon-img {
    display: block;
    width: 40px; /* Adjust icon width */
    height: 10px; /* Maintain aspect ratio */
    margin: 0 auto 5px; /* Center and add space below the image */
  }